/*=============================================================================

					DATABASETESTS.COM CSS STYLE SHEET

===============================================================================*/


/*==========================================

			TABLE OF CONTENTS 

============================================


1. MAIN THEME
	1A. body
	1B. button
	1C. center
	1D. pagewrapper
	1E. contentarea
	
2. HEADER AND FOOTER
	2A. 

3. LOGIN PAGE AND SIGNUP PAGE
	3A. focusbox
	3B. Focusbox__separator
	3C. Focusbox__message
	3D. Focusbox__form and Focusbox__input
	3E. Focusbox__resetlink



===========================================*/



/*======================
		MAIN THEME  
========================*/

body {
	background-color: #4FA4D6;
	font-family: arial;
	color: #FFF;
}

body > button, form > button {
	height: 100%;
	padding: 20px 20px;
	margin: 0px 0px;
	
	font-family: arial;
	font-size: 20px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	
	border: none;
	border-radius: 19px;
	background: linear-gradient(145deg, #55afe5, #4794c1);
	box-shadow: 8px 8px 20px #438bb6, 
				-8px -8px 20px #5bbdf6;
				
	cursor: pointer;
}

h1{
	text-align: center;
}

.product{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 19px;
	padding:10px;
	margin-bottom:20px;
	box-shadow: 8px 8px 20px #438bb6, 
				-8px -8px 20px #5bbdf6;
}

h3{
	text-align:center;
}

.button--style-focusbox{
	margin-top: 15px;
	margin-bottom: 15px;
}


.pagewrapper{
	width: 900px;
	height: 600px;
	margin-top: 60px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;

    position: relative;
	
	background-color: #4FA4D6;
	border: none;
	border-radius: 74px;
	box-shadow: 25px 25px 30px #4895c3, 
				-25px -25px 30px #56b3e9;
}
.contentarea{
	padding: 14px 70px 0px;
	margin-left: auto;
	margin-right: auto;
	/*border: 5px solid red;*/
	height: 95%;
}

.scroll{
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	height:450px;
	overflow:auto;
	padding:2%;
	/*border: 5px solid green;*/
}

div > .pro{
	margin-top: auto;
	
	height:450px;
	overflow: auto;

}

/* Focusbox__form and Focusbox__input */
form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
input{
	height: 40px;
	width: 300px;
	margin-top: 7px;
	margin-bottom: 14px;
	
	text-align: center;
	font-size: 18px;
	
	background: #A7D6F2;
	border: none;
	border-radius: 13px;
	box-shadow: 11px 11px 22px #4895c3, 
				-11px -11px 22px #56b3e9;
}
a{
	margin-top: 0px;
	margin-bottom:0px;
	text-align: center;
	font-size: 14px;
	text-decoration:none;
	color: #326989;
}

img{
	width:280px;
}




/*=============================== 
			HEADER AND FOOTER
================================*/


header {
	width: 95%;
	height: 90px;
	margin: auto;
	margin-top: 20px;
	padding: 0px 15px;

  
	border-radius: 19px;
	background: #4FA4D6;
	box-shadow: 8px 8px 20px #438bb6, 
				-8px -8px 20px #5bbdf6;
}

header table{
	width: 100%
}

.name{
	font-family: arial;
	color: #FFF;
	justify-self: left;
}

.nav-header-main {
	height: 80%;
	display: flex;
	flex-direction: row;
	justify-self: center;
}

.nav-header-main ul {
	margin: 0px;
}

.nav-header-main ul li {
	list-style: none;
	float: left;
	margin: 0px;
	line-height:calc(75px * 0.8);
	vertical-align: middle;
}

.navbutton {
	height: 100%;
	padding: 14px 17px;

	margin-right: 25px;
	
	font-family: arial;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	
	border: none;
	border-radius: 19px;
	background: linear-gradient(145deg, #55afe5, #4794c1);
	box-shadow: 8px 8px 15px #438bb6, 
				-8px -8px 15px #5bbdf6;
				
	cursor: pointer;
}

.nav-header-right {

}

.clock-box{
	height: 80%;
	display: flex;
	flex-direction: row;
	line-height:calc(75px * 0.8);
	vertical-align: middle;
	justify-self: right;
}

.clock{
	padding-right:30px;
}

.logoutF{
	height:80%;
	margin:auto;
}
.logoutB {
	height:100%;
	margin-left:30px;
	padding-left:17px;
	padding-right:17px;
	
	font-family: arial;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	
	border: none;
	border-radius: 19px;
	background: linear-gradient(145deg, #55afe5, #4794c1);
	box-shadow: 8px 8px 15px #438bb6, 
				-8px -8px 15px #5bbdf6;
				
	cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #FFF;
  font-family: arial;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  color: red;
}



footer {
	width: 80%;
	height: 75px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px 25px 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  
	border-radius: 19px;
	background: #4FA4D6;
	box-shadow: inset 8px 8px 20px #438bb6, 
				inset -8px -8px 20px #5bbdf6;
}

footer button{
	height: 40px;
	width: 300px;
	margin-top: 7px;
	margin-bottom: 14px;
	margin-left:20%;
	
	text-align: center;
	font-size: 18px;
	
	cursor: pointer;
	
	background: #A7D6F2;
	border: none;
	border-radius: 13px;
	box-shadow: 11px 11px 22px #4895c3, 
				-11px -11px 22px #56b3e9;
}

footer button:hover{
	background: #7BBBE1;
}

footer  a{
	width: 300px;
	margin-top: 7px;
	margin-bottom: 14px;
	margin-right:20%;
	padding: 10px;
	
	font-family: arial;
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	
	cursor: pointer;
	
	background: #A7D6F2;
	border: none;
	border-radius: 13px;
	box-shadow: 11px 11px 22px #4895c3, 
				-11px -11px 22px #56b3e9;
}

footer  a:hover{
	background: #7BBBE1;
}




/*=============================== 
	FORM
================================*/

/* SCALING */
@media screen and (max-width: 992px) {
	html{
		
	}
}

#response, #submit{
	margin-top:30px;
}