<!DOCTYPE html>
<script src="clock.inc.js" defer></script>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Web Development Project">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Interdimensional Store</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	
	<header>
		<nav class="nav-header-main">
			<div class="logobox"><a class="header-logo" href="/">
				<img src="logo.jpg" alt="loom logo">
			</a></div>
		<ul>
			<li><a href="/" class="navbutton">Home</a></li>
			<li><a href="/info" class="navbutton">Information</a></li>
			<li><a href="/products" class="navbutton">Products</a></li>
			<li><a href="/contact" class="navbutton">Contact</a></li>
		</ul>
		</nav>
		
		<nav class="nav-header-right">
			<div class="clock-box">
				<div class="clock">HH : MM : SS</div>
				<div class="date">DD - MM - YYYY</div>
			</div>
		</nav>
	</header>
</head>
<body>
	<div class="pagewrapper">
		<div class="contentarea">
			{{{body}}}
		</div>
	</div>
</body>
<footer>
	<div class="foot">
		<button id="Map" type="submit" onclick="window.open('map.png')">Download Map To Store</button>
		<a href="https://earth.google.com/web/@-3.20541938,23.09905336,5482.03423075a,63164517.37847328d,35y,-0h,0t,0r" target="_blank" rel="noopener noreferrer" id="planet">See your tiny planet here!</a>
	</div>
</footer>