<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="Web Development Project">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Database</title>
	<link rel="stylesheet" href="style.css">
	
	<header>
		<nav class="nav-header-main">
			<div class="logobox"><a class="header-logo" href="home.php">
				<img src="img/logo.jpg" alt="loom logo">
			</a></div>
		<ul>
			<li><a href="home.php" class="navbutton">Home</a></li>
			<li><a href="#" class="navbutton">Information</a></li>
			<li><a href="#" class="navbutton">Products</a></li>
			<li><a href="#" class="navbutton">Contact</a></li>
		</ul>
		</nav>
		
		<nav class="nav-header-right">
			<input type="text" name="search" placeholder="Search">
		</nav>
	</header>
</head>
	
<script src="includes/clock.inc.js" defer></script>

<div class="pagewrapper">
	<div class="contentarea">
		
		<div class="clock-box">
			<div class="clock">HH : MM : SS</div>
			<div class="date">DD - MM - YYYY</div>
		</div>
		
	</div>
</div>
<?php
  require "footer.php";
?>