<h1>Welcome to the store!</h1>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
	<img src="map.png" style="width:100%">// original image by Juan Garrido - https://juangarridostudio.blogspot.com/
  </div>

  <div class="mySlides fade">
	<img src="plumbus2.png" style="width:100%"> // original image from https://www.pikpng.com/pngvi/iiobxTJ_rick-and-morty-plumbus-illustration-clipart/
  </div>

  <div class="mySlides fade">
	<img src="smiggles2.jpg" style="width:100%"> // original image from TRANS WORLD ENTERTAINMENT - https://toywiz.com/rick-morty-strawberry-smiggles-exclusive-breakfast-cereal/
  </div>
  
  <div class="mySlides fade">
	<img src="space2.jpg" style="width:100%"> // original image by George Riggs https://www.pinterest.com/pin/291326669639458320/
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
</div>
		