<h1>Products Page</h1>
		<div class="pro">
		<table>
			<tr>
				<td>
				<ul>
					<li class="product"><img src="juice.png"><h3>Turbulent Juice</h3>Price: $2.99</li>
					<li class="product"><img src="smiggles.jpeg"><h3>Strawberry Smiggles Cereal</h3>Price: $6.48</li>
					<li class="product"><img src="doors.jpg"><h3>Real Fake Doors</h3>Price: $59.99</li>
				</ul>
				</td>
				<td>
				<ul>
					<li class="product"><img src="plumbus.png"><h3>Plumbus</h3>Price: $2.99</li>
					<li class="product"><img src="eyeholes.jpg"><h3>EyeHoles Cereal</h3>Price: $2.99</li>
					<li class="product"><img src="space.jpg"><h3>Personal Space</h3>Price: $2.99</li>
				</ul>
				</td>
			</tr>
		</table></div>