<h1>Products Page</h1>
<div class="pro">
<table>
	<tr>
		<td>
		<ul>
			<li class="product"><img src="juice.png"><h3>Turbulent Juice</h3>Price: $2.99</li> <!-- image from https://rickandmorty.fandom.com/wiki/Turbulent_Juice -->
			<li class="product"><img src="smiggles.jpeg"><h3>Strawberry Smiggles Cereal</h3>Price: $6.48</li> <!-- image from TRANS WORLD ENTERTAINMENT - https://toywiz.com/rick-morty-strawberry-smiggles-exclusive-breakfast-cereal/-->
			<li class="product"><img src="doors.jpg"><h3>Real Fake Doors</h3>Price: $59.99</li> <!-- image by Matt Hardman https://www.pinterest.cl/pin/328762841546834334/-->
		</ul>
		</td>
		<td>
		<ul>
			<li class="product"><img src="plumbus.png"><h3>Plumbus</h3>Price: $2.99</li> <!-- image from https://www.pikpng.com/pngvi/iiobxTJ_rick-and-morty-plumbus-illustration-clipart/-->
			<li class="product"><img src="eyeholes.jpg"><h3>EyeHoles Cereal</h3>Price: $2.99</li> <!-- image from https://starbaseatlanta.com/product/rick-and-morty-animated-tv-series-eyehole-man-and-cereal-refrigerator-magnet-new-unused/ -->
			<li class="product"><img src="space.jpg"><h3>Personal Space</h3>Price: $2.99</li> <!-- image by George Riggs https://www.pinterest.com/pin/291326669639458320/-->
		</ul>
		</td>
	</tr>
</table>
</div>